@font-face {
  	font-family: Monaco;
  	src: url("Monaco.ttf");
	}

html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td {
	margin: 0;
	padding: 0;
}

body {
	background: pink url("images/bg.png") no-repeat;
  background-size: cover;
  display: block;
	font-family: Monaco, "Courier New", Courier, monospace, "monospaced";
	font-size: 12px;
	line-height: 1.5em;
}

body, html {
	height: 100%;
}

a {
	color: #2a6e33;
	text-decoration: none;
	padding: 2px;
}

a:hover {
	color: #fff;
	background: #2a6e33;
	border-radius: 16px;
}

h2 {
	font-size: 1em;
	font-weight: normal;
}

li {
	list-style: none;
}

.vcard, h1 {
	display: none;
}

.content {
	background-color: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.32);
	margin: 0 0 0 320px;
  padding-right: 24px;
  min-height: 100%;
  min-width: 420px;
	position: relative;
}

.lineNumbers  {
	background: #f3f3f3;
	border-right: 2px solid #efefef ;
	float: left;
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
}

.lineNumbers ul {
	margin: 32px 0 0 0;
}

.lineNumbers li {
	color: #8e8e8e;
	padding: 0 12px;
	text-align: right;
}

.info {
	float: left;
	margin: 32px 0 0 64px;
}

.selector {
	color: #c8327f;
}

.property {
	color: #9f005b;
	padding-left: 30px;
}

.value {
	color: #000099;
}

.brace {
	margin-bottom: 1.5em;
}

.gray {
	font-style: italic;
	color: #8e8e8e;
}

/* Blinking cursor */

.cursor {
  color: black;
  font-size: 18px;
  font-weight: 100;
  font-family: Helvetica;
  line-height: 12px;
  margin-left: -2px;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/* Pixels */

.avatar {
  background: url(images/avatar-full.svg) no-repeat;
  position: fixed;
  height: 60%;
  width: 60%;
  top: 6em;
  left: 6em;
}


/* Mobile layout  */

@media screen and (max-width: 60em) {
  
  body {
    font-size: 14px;
  }
  
  .content {
    max-height: 110%;
    min-width: 320px;
    margin: 24px 0 0 0;
    padding-right: 16px;
    position: relative;
  }

  .avatar {
    background: url(images/avatar-head.svg) no-repeat center center;
    display: block;
    position: relative;
    margin: auto;
    margin-top: 2em;
    height: 30%;
    width: 30%;
    left: 0;
    top: 0;
  }
}
