@font-face {
  	font-family: Monaco;
  	src: url("assets/Monaco.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

*, ::after, ::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body, html { 
  font-size: 12px;
  height: 100%;
}

body {
	background: pink url("assets/bg.png") no-repeat fixed;
  background-size: cover;
  color: black;
	font-family: Monaco, "Courier New", Courier, monospace, "monospaced";
	line-height: 1.5rem;
}

a {
  border-radius: 0.4rem;
	color: darkgreen;
  padding: 0.16rem;
  text-decoration: underline;
  text-decoration-color: gainsboro;
}

a::before, a::after {
  content: '"';
  text-decoration: underline;
  text-decoration-color: white;
}

a:hover {
  color: white;
  background: darkgreen;
  text-decoration: none;
}

a:hover::before, a:hover::after {
  text-decoration-color: darkgreen;
}

h2 {
	font-size: inherit;
	font-weight: normal;
}

li {
	list-style: none;
}

.vcard, h1 {
	display: none;
}

.content {
  background-color: white;
  box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.32);
	margin: 0 0 0 26rem;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0 2rem 1.3rem 0;
	position: relative;
}

.lineNumbers  {
	background: whitesmoke;
  min-height: 100%;
  overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
}

.lineNumbers ul {
	margin: 2.6rem 0 0 0;
}

.lineNumbers li {
	color: dimgray;
  cursor: default;
	padding: 0 1rem;
	text-align: right;
}

.info {
	float: left;
	margin: 2.6rem 0 0 5.4rem;
}

p {
  padding-left: 1.35rem;
}

.property {
	color: mediumvioletred;
}

.value {
	color: darkblue;
}

.brace {
	margin-bottom: 1.5rem;
  padding: 0;
}

.gray {
	color: dimgray;
  font-style: italic;
  padding: 0;
}

.linked {
  color: darkgreen;
}

/* Blinking cursor */

.cursor {
  color: black;
  font-size: 1.5rem;
  font-weight: 100;
  font-family: Helvetica;
  line-height: 1rem;
  margin-left: -2px;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/* Pixels */

.avatar {
  background: url(assets/avatar-full.svg) no-repeat;
  height: 40rem;
  width: 100%;
  position: fixed;
  top: 5rem;
  left: 5rem;
}


/* Mobile layout  */

@media only screen and (max-device-width: 428px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
  }
  
  p {
    padding-left: 1.2rem;
  }
  
  .content {
    max-width: 100vh;
    margin: 0.6rem 0 0 0;
    padding-right: 1.3rem;
    position: relative;
  }

  .avatar {
    background: url(assets/avatar-head.svg) center center no-repeat;
    display: block;
    margin: 2rem 0 2rem 0;
    position: relative;
    height: 6rem;
    top: 0;
    left: 0;
  }
}


@media only screen and (max-device-width: 414px) and (orientation: landscape) {
  body {
    font-size: 1.1rem;
  }
  
  p {
    padding-left: 1.3rem;
  }
  
  .content {
    margin: 0 0 0 16rem;
    padding-right: 1.3rem;
  }
  
  .avatar {
    height: 16rem;
    left: 5rem;
    top: 2.5rem;
  } 
}


/* Tablet-friendly */

@media only screen and (min-width: 64rem) and (max-width: 84rem) {
  body {
    font-size: 1.16rem;
    line-height: 1.6rem;
  }
  
  p {
    padding-left: 1.3rem;
  }
  
  .brace {
    margin-bottom: 1.6rem;
  }
  
  .content {
    margin: 0 0 0 20rem;
    padding-right: 1.4rem;
  }
  
  .avatar {
    height: 30rem;
    left: 5rem;
  } 
}