@font-face {
  	font-family: Monaco;
  	src: url("assets/Monaco.ttf");
}

*, ::after, ::before { 
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body, html { 
  height: 100%;
}

body {
	background: pink url("assets/bg.png") no-repeat fixed;
  background-size: cover;
  color: black;
	font-family: Monaco, "Courier New", Courier, monospace, "monospaced";
	font-size: 12px;
	line-height: 1.5em;
}

a {
  border-radius: 0.5em;
	color: darkgreen;
  padding: 2px;
  text-decoration: underline gainsboro;
}

a::before, a::after {
  content: '"';
  text-decoration: underline white;
}

a:hover {
  color: white;
  background: darkgreen;
  text-decoration: none;
}

a:hover::before, a:hover::after {
  text-decoration: darkgreen;
}

h2 {
	font-size: 1em;
	font-weight: normal;
}

li {
	list-style: none;
}

.vcard, h1 {
	display: none;
}

.content {
  background-color: white;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.32);
	margin: 0 0 0 320px;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0 24px 16px 0;
	position: relative;
}

.lineNumbers  {
	background: whitesmoke;
  min-height: 100%;
  overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
}

.lineNumbers ul {
	margin: 32px 0 0 0;
}

.lineNumbers li {
	color: gray;
  cursor: default;
	padding: 0 12px;
	text-align: right;
}

.info {
	float: left;
	margin: 32px 0 0 64px;
}

p {
  padding-left: 16px;
}

.property {
	color: mediumvioletred;
}

.value {
	color: darkblue;
}

.brace {
	margin-bottom: 1.5em;
  padding: 0;
}

.gray {
	color: gray;
  font-style: italic;
  padding: 0;
}

.linked {
  color: darkgreen;
}

/* Blinking cursor */

.cursor {
  color: black;
  font-size: 18px;
  font-weight: 100;
  font-family: Helvetica;
  line-height: 12px;
  margin-left: -2px;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}


/* Pixels */

.avatar {
  background: url(assets/avatar-full.svg) no-repeat;
  height: 40em;
  width: 100%;
  position: fixed;
  top: 6em;
  left: 6em;
}


/* Mobile layout  */

@media screen and (max-width: 32em) {
  body {
    font-size: 14px;
  }
  
  p {
    padding-left: 1.2em;
  }
  
  .content {
    max-width: 100vh;
    margin: 8px 0 0 0;
    padding-right: 16px;
    position: relative;
  }

  .avatar {
    background: url(assets/avatar-head.svg) center center no-repeat;
    display: block;
    margin: 2em 0 2em 0;
    position: relative;
    height: 6em;
    top: 0;
    left: 0;
  }
}


@media screen and (max-width: 52em) and (orientation: landscape) {
  body {
    font-size: 1.15em;
  }
  
  p {
    padding-left: 1.2em;
  }
  
  .content {
    margin: 0 0 0 16em;
    min-width: 100vh;
    padding-right: 16px;
  }
  
  .avatar {
    height: 16em;
    left: 5em;
    top: 2.5em;
  } 
}


/* Tablet-friendly */

@media only screen and (min-width: 48em) and (max-width: 64em) {
  body {
    font-size: 1.15em;
  }
  
  p {
    padding-left: 1.2em;
  }
  
  .content {
    margin: 0 0 0 16em;
    min-width: 100vh;
    padding-right: 16px;
  }
  
  .avatar {
    height: 16em;
    left: 5em;
  } 
}